* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  /* background-image: linear-gradient(135deg, #8052ec, #d161ff); */
}
.clock {
  width: 31.25em;
  height: 10em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 37%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.clock div {
  position: relative;
  background-color: #ffffff;
  height: 85%;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: #150c41;
  border-radius: 0.4em;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05em;
}
.clock span {
  font-weight: 800;
  font-size: 5.5em;
  color: #ffffff;
  margin-right:16px;
  margin-left:16px;
}
.greeting{
  font-size: 2.4em;
  width: 25em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  padding: 4.5em 1.3em;
}
.greeting h1{
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}
.wrapper {
  
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 92%;
  left: 50%;
}
.Quote {
  
  width: 90%;
  /* background-color: #f43543; */
  /* padding: 50px 40px; */
  /* box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5); */
  position: relative;
  /* border-radius: 8px; */
  text-align: center;
  margin-bottom: -15px;
  
}
.Quote:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 120%;
  /* background-color: #ffffff; */
  z-index: -1;
  top: -10%;
  left: 10%;
}
.Quote p {
  color: #ffffff;
  /* line-height: 2; */
  font-size: 15px;
}
.Quote h3 {
  color: #fffcfc;
  font-size: 10px;
  /* margin: 20px 0 60px 0; */
  font-weight: 400;
  text-transform: capitalize;
}
.bottom-right {
  position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
  
}
.bottom-right a {
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: light;
  color:#150c41;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-top: 9px;
  background-color: white;

}
/* .bottom-left {
  position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
  
}
.bottom-left a {
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: light;
  color:#150c41;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-top: 9px;
  background-color: #ebe3e3;

} */

